<div class="col-md-4">
    <h2>Edit a medicine</h2>

    <hr>

    <%= simple_form_for @medicine do |f| %>

    <%= f.input :name %>
    <%= f.input :strength %>
    <%= f.input :dosage_form %>
    <%= f.input :approval_number %>
    <%= f.input :approval_date %>
    <%= f.input :category %>
    <%= f.input :manufacturer %>
    <div class="group">
      <%= f.select :manufacturer_id, @manufacturers %>
    </div>
    <%= f.input :price %>

      <%= f.submit "Submit", class: "btn btn-primary", data: { disable_with: "Submiting..." } %>
    <% end %>

</div>
