<span class="pull-right">
  <% if current_user && current_user.is_follower_of?(@medicine) %>
    <label class="label label-success"> followers </label>
    <%= link_to("Remove from collections", remove_medicine_path(@medicine), method: :post, class: "btn btn-default") %>
  <% else %>
    <label class="label label-warning"> not followers </label>
    <%= link_to("add to my collections", add_medicine_path(@medicine), method: :post, class: "btn btn-default")%>
  <% end %>
</span>

<div>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>Items</td>
        <td>Info</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Product Name</td>
        <td><%= @medicine.name %></td>
      </tr>
      <tr>
        <td>Strength</td>
        <td><%= @medicine.strength %></td>
      </tr>
      <tr>
        <td>Dosage form</td>
        <td><%= @medicine.dosage_form %></td>
      </tr>
      <tr>
        <td>Approval number</td>
        <td><%= @medicine.approval_number %></td>
      </tr>
      <tr>
        <td>Approval date</td>
        <td><%= @medicine.approval_date %></td>
      </tr>
      <tr>
        <td>Category</td>
        <td><%= @medicine.category %></td>
      </tr>
      <tr>
        <td>Price</td>
        <td><%= @medicine.price %></td>
      </tr>
      <tr>
        <td>Manufacturer</td>
        <td><a href=<%= @medicine.manufacturer.website %>><%= @medicine.manufacturer.name %></a></td>
      </tr>
    </tbody>
  </table>
  <div>
    <p><%= link_to("back", medicines_path) %> </p>
  </div>
</div>
