<div class="col-md-4 col-md-offset-4">
    <h2>Add a new manufacturer</h2>

    <hr>
    <%= simple_form_for @manufacturer do |f| %>
      <div class="form-group">
        <%= f.input :name, input_html: {class: "form-control"} %>
        <%= f.input :address, input_html: {class: "form-control"} %>
        <%= f.input :description, input_html: {class: "form-control"} %>
        <%= f.input :contact_person, input_html: {class: "form-control"} %>
        <%= f.input :phone, input_html: {class: "form-control"} %>
        <%= f.input :email, input_html: {class: "form-control"} %>
        <%= f.input :website, input_html: {class: "form-control"} %>
      </div>
      <%= f.submit "Submit", class: "btn btn-primary", data: { disable_with: "Submiting..." } %>
    <% end %>

</div>
