<div>
  <br>
  <% if @query_string.blank? %>
    <div class="search-info-title">
      Sorry, The search content cannot be blank, please type some words to search.
    </div>

  <% elsif @manufacturers.blank? %>
    <br>
    <h2 class="search-info-title">no results</h2>
  <% else %>
    <h2 class="search-info-title"> 有关"<%= @query_string %>"的信息 </h2>
    <table class="table table-boldered">
      <thead>
        <tr>
          <td>#</td>
          <td>name</td>
          <td>phone</td>
          <td>email</td>
          <td>website</td>
        </tr>
      </thead>
      <tbody>
        <% i = 1 %>
        <% @search_result.each do |manufacturer| %>
        <% j = @manufacturers.current_page %>
          <tr>
            <td><%= i + (j-1) * 5 %></td>
            <td>
              <%= link_to(manufacturer.name, manufacturer_path(manufacturer)) %>
            </td>
            <td>
              <%= manufacturer.phone %>
            </td>
            <td>
              <%= manufacturer.email %>
            </td>

            <td>
              <%= manufacturer.website %>
            </td>
          </tr>
          <% i += 1 %>
        <% end %>
    </tbody>
    </table>
  <% end %>
</div>
