<div class="col-md-12">
  <span class="pull-right">
    <% if current_user && current_user.is_favorite_of?(@manufacturer) %>
      <i class="fa fa-star" aria-hidden="true"></i>
      <label class="label label-success"> favorite </label>
      <%= link_to("Remove from favorite", unlove_manufacturer_path(@manufacturer), method: :post, class: "btn btn-default") %>
    <% else %>
      <i class="fa fa-star-o" aria-hidden="true"></i>
      <label class="label label-warning"> unfavorite </label>
      <%= link_to("Add to favorite", love_manufacturer_path(@manufacturer), method: :post, class: "btn btn-default") %>
    <% end %>
  </span>

  <div class="group">
    <%= link_to("Edit", edit_manufacturer_path(@manufacturer), class: "btn btn-primary pull-right")%>
  </div>
  <h2><%= @manufacturer.name %></h2>
  <p>
    <i class="fa fa-eye" aria-hidden="true"></i><%= "#{@manufacturer.impressionist_count(:filter=>:session_hash)}" %>
  </p>
  <p><%= simple_format(@manufacturer.description) %></p>
  <div>
    <h3>Contact Information</h3>
    <div class="col-md-6">
      <% if @manufacturer.cardimage.present? %>
        <%= image_tag(@manufacturer.cardimage.medium.url, class: "thumbnail") %>
      <% else %>
        <%= image_tag("http://ww4.sinaimg.cn/large/006tNc79gy1ff4kscfbfxj30p00f0dil.jpg", class: "thumb") %>
      <% end %>
    </div>
    <table class= "table table-hover">
      <thead>
        <tr>
          <td>Items</td>
          <td>Information</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Address</th>
          <td><%= @manufacturer.address %></td>
        </tr>
        <tr>
          <th>Contact_person</th>
          <td><%= @manufacturer.contact_person %></td>
        </tr>
        <tr>
          <th>Phone</th>
          <td><%= @manufacturer.phone %></td>
        </tr>
        <tr>
          <th>Email</th>
          <td><%= @manufacturer.email %></td>
        </tr>
        <tr>
          <th>Website</th>
          <td><a href=<%= @manufacturer.website %>><%= @manufacturer.website %></a></td>
        </tr>
        <tr>
          <th>Fans Number </th>
          <td> <%= @manufacturer.fans.count %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div>
    <h3> Product list</h3>
    <%= link_to(@manufacturer.name, medicines_path(manufacturer: @manufacturer.name)) %>
  </div>

  <div>
    <p><%= link_to("back to manufacturer list", manufacturers_path) %> </p>
  </div>
</div>
